

# Supabase (Banco de Dados em Nuvem)
# Crie um projeto em https://supabase.com
# Vá em Project Settings -> API para pegar essas chaves
SUPABASE_URL=https:/
SUPABASE_ANON_KEY=eyJhbGci6ImFub24iLCJpYXQiOjE3NzI3NTA1NTYsImV4cCI6MjA4ODMyNjU1